# Ignore node_modules directory
/node_modules

# Ignore npm and yarn log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore temporary files
*.tmp
*.temp

# Ignore build output
/dist
/build

# Ignore configuration files
.env
.env.local
.env.*.local

# Ignore Git files
.git
.gitignore

# Ignore Docker files
.dockerignore
Dockerfile

# Ignore logs
logs
*.log

# Ignore Mac OS specific files
.DS_Store

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace